@model NotaAluno
@{
    ViewData["Title"] = "Deletar Nota";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

</head>

<body>

    <div class="center divbox">
        <h2>Deletar Nota</h2>
        <p>Informe o Id da nota a ser deletada</p>
        <p id="pMensagem">@ViewBag.Mensagem</p>
        <form asp-action="DeletarNota" method="POST">
            <p>
                <label asp-for="Id">Id:</label>
                <input asp-for="Id" />
            </p>
            <p>
                <input type="submit" value="Deletar" />
            </p>
        </form>
    </div>

</body>

</html>