@model NotaAluno
@{
    ViewData["Title"] = "Publicar Notas";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

</head>

<body>

    <div class="divbox">
        <h2>Publicar notas</h2>
        <form asp-action="Publicar" method="POST" id="notaPub">
            <div class="form-group row">
                <label asp-for="Materia" class="col-sm-2 col-form-label">Matéria:</label>
                <div class="col-sm-10">
                    <input asp-for="Materia" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Nota" class="col-sm-2 col-form-label">Nota:</label>
                <div class="col-sm-10">
                    <input asp-for="Nota" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IdAluno" class="col-sm-2 col-form-label">Id do Aluno:</label>
                <div class="col-sm-10">
                    <input asp-for="IdAluno" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Publicar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

</body>

</html>