@{
    ViewData["Title"] = "Contato";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

</head>

<body>

    <div class="center divbox">
        <p>Precisa nos contatar ? É só enviar seu email para <span class="azul">ceuazulensino@email.com</span>!</p>
        <p>Estamos disponíveis de segunda a sexta das 8:00AM às 19:00PM</p>
    </div>

</body>

</html>