@model Usuario
@{
    ViewData["Title"] = "Cadastro";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

</head>

<body>

    <div class="divbox">
        <h2>Cadastro de Usuário</h2>
        <form asp-action="Cadastro" method="POST" id="userCad">
            <div class="form-group row">
                <label asp-for="Nome" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    <input asp-for="Nome" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Login" class="col-sm-2 col-form-label">Login:</label>
                <div class="col-sm-10">
                    <input asp-for="Login" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Senha" class="col-sm-2 col-form-label">Senha:</label>
                <div class="col-sm-10">
                    <input asp-for="Senha" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="TipoUsuario" class="col-sm-2 col-form-label">Tipo Usuário:</label>
                <div class="col-sm-10">
                    <input asp-for="TipoUsuario" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Cadastrar" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>

</body>

</html>