@model Usuario
@{
    ViewData["Title"] = "Editar Usuário";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

</head>

<body>

    <div class="left divbox">
        <h2>Editar Usuário</h2>
        <p id="pMensagem">@ViewBag.Mensagem</p>
        <form asp-action="Editar" method="POST">
            <p>
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" />
            </p>
            <p>
                <label asp-for="Login">Login:</label>
                <input asp-for="Login" />
            </p>
            <p>
                <label asp-for="Senha">Senha:</label>
                <input asp-for="Senha" />
            </p>
            <p>
                <label asp-for="TipoUsuario">Tipo Usuário:</label>
                <input asp-for="TipoUsuario" />
            </p>
            <p>
                <label asp-for="Id">Id:</label>
                <input asp-for="Id" />
            </p>
            <p>
                <input type="submit" value="Editar" />
            </p>
        </form>
    </div>

</body>

</html>
