@model Usuario
@{
    ViewData["Title"] = "Logout";
}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

</head>

<body>

    <div class="center divbox">
        <h2>Logout realizado</h2>
        <a asp-area="" asp-controller="Usuario" asp-action="Login">Realizar outro login.</a>
    </div>

</body>

</html>
